# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Build directories
dist
dist-ssr
node_modules/
.cache
.next
.turbo
.parcel-cache

# Output from testing tools
coverage
eslintcache


# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS and misc
.Trash-*
._*
Thumbs.db
